body {
    font-family: 'Roboto Slab', 'Open Sans', sans-serif;
    margin: 30px;
    line-height: 1.6;
}


.word {
  cursor: pointer;
  color: blue;
}

.tooltip {
  position: absolute;
  background: white;
  border: 1px solid #ccc;
  padding: 4px;
  font-size: 14px;
  display: none;
}
